<div class="page-wrapper">
  
  <!--Menu Sidebar-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="braavoShop" class="img-responsive">
      </a>
    </div>
    
    <!--This is where the app-categry-menu component is called-->

    <!--This is where the app-categry-menu component is called-->

  </aside>

  <!--End menu sidebar-->

  <!--Page Container-->
  <div class="page-container">
    <!--Header Desktop-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <!--This is where the app-search component and app-cart-status component are called-->
            <!--This is where the app-search component and app-cart-status component are called-->

          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!--End Header Desktop-->

    <!--Main Content-->

    <!--This is where the app-product-list component comes and later this will be the router-outlet-->




  </div>
</div>

<!--End Page Container-->
<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>